h1 {
    font-size:6rem;
    margin: 200px 0 200px 0;
}

h2 {
    font-size:4rem;
    margin-bottom: 200px;
}

h3 {
    font-size:2rem;
    margin-bottom: 200px;
}

h4 {
    font-size:1.5rem;
}

.title {
    margin:0;
    padding: 100px;
    font-family: 'Open Sans Condensed',sans-serif;
    text-align: center;
    font-weight: 500;
}

.better-hr {
    margin: 10px 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, #6b73b8, #8f69b3, #6b73b8);
    ;
}

.heading {
    margin:0;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 500;
}

.left-bar {
    background-color: #145943;
    padding: 10px;
}

.project-box {
    width: 160px;
    border: 2px solid #555;
}

.project-img {
    width: 160px;
    height: 120px;
    background-color: #244;
}

.App {
  background-color: #1E5770;
  background-image: linear-gradient(to bottom right, #1E5770, #333FB5);
  color: #ddd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}